* {
  margin: 0;
  padding: 0;
  color: var(--text-color);

}

.pageContainer {
  background-color: var(--primary-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContainer {
  width: 400px;
  display: flex;
  flex-direction: column;
  height: 400px;
  border-radius: 0.5rem;
  padding: 20px;
  box-shadow: 0 0 10px rgba(82, 109, 130, 0.7); 
  position: relative; 
}

.logo{
  padding: 10px;
  width: 75%;
  margin: 20px 0;
}

.input {
  border: 0px;
  background-color: var(--secondary-color);
  padding: 0.7rem;
  color: var(--text-color);
  border-radius: 0.2rem;
  outline: none;
  margin: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
}

.input::placeholder {
  color: var(--text-color);
}

.btn {
  margin: 0.8rem;
  border-radius: 0.2rem;
  align-self: flex-end;
  padding: 0.7rem 1.5rem;
  background-color: var(--secondary-color);
  border: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: var(--text-color);
  color: var(--secondary-color);
}

.invitation {
  color: var(--contemporary-color);
  text-align: center;
  margin-top: auto
}

.link {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
  align-self: flex-end;
  margin-top: auto;
}

.link:hover {
  font-weight: 700;
  color: var(--white);
}

.left_logo{
  width: 220px;
}

.editContainer{
  background-color: var(--primary-color);
  height: 100vh;
  width: 100%;
}

.edit_btn{
  margin: 0.8rem;
  border-radius: 0.2rem;
  border: 0px;
  width: 150px;
  font-weight: 600;
  padding: 0.7rem 1.5rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 0.2rem;
  outline: none;

}