:root{
  --primary-color: #27374D;
  --secondary-color: #526d82;
  --contemporary-color:#9DB2BF;
  --text-color: #DDE6ED;
  --white: #FDFBF9;
  --black: #282828;
  --red: #B33F40;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}